body{
    background:linear-gradient( to top,white,rgb(174, 174, 224),rgb(107, 101, 161),rgb(61, 61, 114),rgb(37, 37, 78),rgb(15, 15, 51));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    font-family: roboto;
}
p{
    color: rgb(247, 243, 243);
    font-size: 16px;
    margin-left: 390px;
    margin-top: -25px;
}
img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}
h1{
    color:white;
    margin-left: 30%;
    font-size:60px;
}
p{
    color: rgb(228, 226, 226);
    margin-left: 380px;
}
#q{
    margin-left: 430px;
}
#a{
    background-color: rgb(65, 65, 177);
    margin-left: 425px;
}
#a:hover{
    background-color: rgb(100, 98, 212);
}
#b{
    background-color: rgb(32, 32, 131);
    margin-left: 40px;
}
#b:hover{
    background-color: rgb(41, 44, 151);
}
button{
    font-size: 18px;
    border: 0px solid ;
    color:white;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
#qq{
    background-color: rgb(72, 72, 173);
    width: 125px;
    font-size: 15px;
    padding: 5px;
    margin-left: 77%;
    margin-top: 0px;
}
#qq:hover{
    background-color: rgb(102, 102, 214);
}
#aa{
    background-color: rgb(2, 2, 75);
    width: 125px;
    font-size: 15px;
    padding: 5px;
    margin-left: 90%;
    margin-right:0px;
}
#aa:hover{
    background-color:rgb(21, 21, 73);
}
video{
    width:75%;
    margin-left: 160px;
    box-shadow: 2px 5px 20px white;

}
#p{
    color:silver;
}
.f{
    align-items: center;
    display: flex;
    gap: 10px;
    color:rgb(6, 6, 82);
}
#pp{
    color:black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 0px;
    font-family: 'roboto';
}
.t{
    color:rgb(6, 6, 82);
    background: none;
    width: 90px;
    margin-left: 90px;
}
.t:hover{
    text-shadow: 2px 2px 15px white;
}
.op{
    display: flex;
    gap: 15px;
}
.h{
    padding: 50px;
    background-color: white;
    color: black;
    width: 80%;
    height: 90px;
    border-radius: 15px;
    justify-content: space-between;
}
#l{
    padding: 50px;
    background-color: rgb(17, 17, 88);
    color: white;
    width: 80%;
    height: 90px;
    border-radius:15px;
}
